@use "@styles/breakpoint";
@use "@styles/space";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: space.$s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.loadingWrapper {
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: space.$s6 space.$s3 0 space.$s3;

  @media (min-width: breakpoint.$desktop) {
    padding: 0;
  }

  & > img {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
